[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
adafruit-blinka = "==8.39.1"
adafruit-circuitpython-busdevice = "==5.2.9"
adafruit-circuitpython-connectionmanager = "==2.0.0"
adafruit-circuitpython-dht = "==4.0.4"
adafruit-circuitpython-requests = "==3.2.8"
adafruit-circuitpython-typing = "==1.10.3"
Adafruit-PlatformDetect = "==3.63.0"
Adafruit-PureIO = "==1.1.11"
w1thermsensor = "==2.3.0"
websockets = "*"

[requires]
python_version = "3.11"