[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
adafruit-circuitpython-dht = "*"
adafruit-blinka = "*"
w1thermsensor = "*"

[dev-packages]

[requires]
python_version = "3.9"
